body {
background: #e8e8e8; /* Old browsers */
background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


}

@font-face {
    font-family:gothic;
    src: url(fonts/carroisgothicregular.ttf);
}

.background{
	height:1000px;
	width:900px;
	margin:auto;

}

.content {
	height:980px;
	width:1200px;
	background-color:#ffffff;
	margin-left:-140px;
	position: relative;

-webkit-box-shadow: 0px 0px 29px 5px rgba(56,56,56,0.31);
	-moz-box-shadow: 0px 0px 29px 5px rgba(56,56,56,0.31);
	box-shadow: 0px 0px 29px 5px rgba(56,56,56,0.31);
	background: #fcfcfc; /* Old browsers */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */


}

.header {
	width:1200px;
	height:300px;
	background:url(images/header7.gif) no-repeat;
	
}

.horizontalfooterline {

  background:url(images/horizontalfooterline.png) no-repeat;
  margin:auto;
  width:1090px;
  height:4px;
  margin-left:55px;
  display:block;


}

.menu{
	width:63px;
	height:45px;
	margin-top:10px;
	margin-left:350px;
	float:left;
	position:absolute;
}
.menu li{
	float:left;
	list-style:none;
}
.menu li a{
	display:block;
	width:75px;
	height:50px;	
}

.despartitorvertical {
	background:url(images/despartitorvertical.png) no-repeat;
	margin:auto;
	width:5px;
	height:25px;
	margin-left:462px;
	margin-top:18px;
	display: block;
	position: absolute;

}

.despartitorvertical2 {
	background:url(images/despartitorvertical.png) no-repeat;
	margin:auto;
	width:5px;
	height:25px;
	margin-left:538px;
	margin-top:18px;
	display: block;
	position: absolute;

}

.despartitorvertical3 {
	background:url(images/despartitorvertical.png) no-repeat;
	margin:auto;
	width:5px;
	height:25px;
	margin-left:617px;
	margin-top:18px;
	display: block;
	position: absolute;

}

.despartitorvertical4 {
	background:url(images/despartitorvertical.png) no-repeat;
	margin:auto;
	width:5px;
	height:25px;
	margin-left:695px;
	margin-top:18px;
	display: block;
	position: absolute;

}

.fronttext {
	font-family: "gothic";
	position: absolute;
	margin-top:185px;
	margin-left:35px;
	font-size:20px;

	
}
.fronttext1 {
	font-family: "gothic";
	position: absolute;
	font-size:17px;
	margin-top:220px;
	margin-left:30px;

}

.button1 a{
	background:url(images/static1.png) no-repeat;
	display:block;
}
.button1 a:hover{
	background:url(images/green.gif) no-repeat;
	display:block;
}

.button2 a{
	background:url(images/static2.png) no-repeat;
	display:block;
	margin-top:-52px;
	margin-left:75px;
}
.button2 a:hover{
	background:url(images/red.gif) no-repeat;
	display:block;
}

.button3 a{
	background:url(images/static3.png) no-repeat;
	display:block;
	margin-top:-52px;
	margin-left:150px;
}
.button3 a:hover{
	background:url(images/black.gif) no-repeat;
	display:block;
}

.button4 a{
	background:url(images/static4.png) no-repeat;
	display:block;
	margin-top:-52px;
	margin-left:230px;
}
.button4 a:hover{
	background:url(images/gray.gif) no-repeat;
	display:block;
}

.button5 a{
	background:url(images/static5.png) no-repeat;
	display:block;
	margin-top:-52px;
	margin-left:310px;
}
.button5 a:hover{
	background:url(images/blue.gif) no-repeat;
	display:block;
}

.footer{
	text-align:center;
	width:960px;
	height:50px;
	font-family:"gothic";
	position:absolute;
	margin-top:635px;

}

.headerboxwithlineandbuttons {
	height: 4px;
	width: 1200px;
	position: absolute;
	

}

.verticaltopline {
	background:url(images/verticaltopline.png) no-repeat;
	margin: auto;
	width:1200px;
	height:4px;
	margin-left:0px;
	margin-top:0px;
	display: block;
	
}

.verticalbottomline {
	background:url(images/verticalbottomline.png) no-repeat;
	margin: auto;
	width:1200px;
	height:4px;
	margin-left:0px;
	margin-top:50px;
	display: block;
	}
.copyright {
	margin-left:600px;
	margin-top:20px;
	position:absolute;
	color:#7A7A7A;
	font-size:15px;
	font-family:"gothic";


}

.footerbuttons {
	list-style-type: none;
	float:left;
	margin-top:20px;
	margin-left:125px;
	color:#7A7A7A;
	font-size:15px;
}
.footerbuttons li{
	float:left;
	list-style-type: none;
	margin-left:30px;

}

.footerbuttons ul{
	float:left;
	list-style-type: none;
	margin-left:30px;

}

.footerbuttons a:visited {
	background-color:yellow;

}

.footerbuttons a:link    {
	color:#7A7A7A;
}
.footerbuttons a:visited {
	color:#7A7A7A;
}
.footerbuttons a:hover   {
	color:#d30000;
}

.modalDialog {
	position: fixed;
	font-family:"gothic";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	/*-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;*/
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.modalClassLogin a{
	color:#000000;
	font-size:17px;
	font-family:"gothic";
	text-decoration: none;
	font-style: italic;
	margin-top:60px;
	margin-left:525px;
	position: absolute;

}

.modalClassLogin a:visited{
	font-size:17px;
	text-decoration: none;

	}
.modalClassLogin a:hover{
	font-size:17px;
	text-decoration: none;
	color:#580000;

	}

.modalDialogRegister {
	position: fixed;
	font-family:"gothic";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	/*-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;*/
	pointer-events: none;
}

.modalDialogRegister:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialogRegister > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.modalClassRegister a{
	color:#000000;
	font-size:17px;
	font-family:"gothic";
	text-decoration: none;
	font-style: italic;
	margin-top:60px;
	margin-left:600px;
	position: absolute;

}

.modalClassRegister a:visited{
	font-size:17px;
	text-decoration: none;

	}
.modalClassRegister a:hover{
	font-size:17px;
	text-decoration: none;
	color:#580000;

	}
.contactformChenar{
	
	
	margin:auto;
	margin-top:0px;
	margin-left:250px;
	position: absolute;
}
.contactform {
	margin:auto;
	margin-top:125px;
	margin-left:25px;
	position: absolute;
	
}

.message{
	position:relative;

}
.message p{
	position:absolute;
	top:0px;
}
.message div{
	margin-left:59px;
	
}
.transition:hover {
	transition:all 1s;
	background-color:rgb(221,221,221);
}
.email {
	margin-left:74px;
	margin-top:-17px;
}

.loggedin {
	position: absolute;
	margin-left:850px;
	margin-top:35px;
	font-family: "gothic";
}

.logoutbutton a{

	color:#000000;
	font-size:15px;
	font-family:"gothic";
	text-decoration: none;
	font-style: italic;
	position: absolute;
	margin-top:-17px;
	margin-left:175px;
}

.logoutbutton a:hover{

	color:#580000;
	font-size:15px;
	font-family:"gothic";
	text-decoration: none;
	font-style: italic;
}

.logoutbutton a:visited{

	
	font-size:15px;
	font-family:"gothic";
	text-decoration: none;
	font-style: italic;
}

.administratorcontrolpaneltext a{

	color:#000000;
	font-size:15px;
	font-family:"gothic";
	text-decoration: none;
	font-style: italic;
	position: absolute;
	margin-top:37px;
	margin-left:50px;

}

.administratorcontrolpaneltext a:hover {

	color:#580000;
	font-size:15px;
	font-family:"gothic";
	text-decoration: none;
	font-style: italic;


}


.administratorcontrolpaneltext a:visited{
		font-size:15px;
	font-family:"gothic";
	text-decoration: none;
	font-style: italic;

}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    position: absolute;
    margin-top:275px;
    /*margin-left:20px;*/
}

#customers td, #customers th {
    font-size: 1em;
    border: 1px solid #000000;
    padding: 3px 7px 2px 7px;
}

#customers th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #8B0000;
    color: #ffffff;
}

#customers tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

.butondeactualizare {

	margin-top:75px;
	margin-left:15px;
	position: absolute;
	font-family: "gothic";
}

.search{

    margin-top:75px;
	margin-left:450px;
	position: absolute;
    
}

.delete{
    margin-top:150px;
	margin-left:450px;
	position: absolute;
    font-family: "gothic";
}

.addsurveybutton {
  background: #d91818;
  background-image: -webkit-linear-gradient(top, #d91818, #420505);
  background-image: -moz-linear-gradient(top, #d91818, #420505);
  background-image: -ms-linear-gradient(top, #d91818, #420505);
  background-image: -o-linear-gradient(top, #d91818, #420505);
  background-image: linear-gradient(to bottom, #d91818, #420505);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "gothic";
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
}

.addsurveybutton:hover {
  background: #420505;
  background-image: -webkit-linear-gradient(top, #420505, #d91818);
  background-image: -moz-linear-gradient(top, #420505, #d91818);
  background-image: -ms-linear-gradient(top, #420505, #d91818);
  background-image: -o-linear-gradient(top, #420505, #d91818);
  background-image: linear-gradient(to bottom, #420505, #d91818);
  text-decoration: none;
}

.searchtest {
	margin-left:850px;
	margin-top:70px;
	position: absolute;
	font-family: "gothic";
}

.modalDialogRegister1 {
	position: fixed;
	font-family:"gothic";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	/*-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;*/
	pointer-events: none;
}

.modalDialogRegister1:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialogRegister1 > div {

	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}


.modalDialogRegister2 {
	position: fixed;
	font-family:"gothic";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	/*-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;*/
	pointer-events: none;
}

.modalDialogRegister2:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialogRegister2 > div {

	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}




.modalDialogRegister3 {
	position: fixed;
	font-family:"gothic";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	/*-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;*/
	pointer-events: none;
}

.modalDialogRegister3:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialogRegister3 > div {

	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}



.incp{


margin-left: 200px;
font-style: italic;
}

.cls{

margin-left: 400px;
}

.clo{

	margin-left: 400px;
}

.uname{


}

.naturalnessbutton a{
	background:url(images/naturalness.png) no-repeat;
	width:161px;
	height:105px;
	display: block;
	position: absolute;
	margin-top:150px;
	margin-left:300px;

}

.modalDialogNaturalness {
	position: fixed;
	font-family:"gothic";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	/*-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;*/
	pointer-events: none;
}

.modalDialogNaturalness:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialogNaturalness > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.surveynaturalness {
	margin-left:125px;
	font-family:"gothic";
	font-size: 20px;
}

.naturalnesspart1text {

	font-family:"gothic";
	font-size: 18px;
	margin-left:175px;
	margin-top:15px;
}

.naturalnessquestiontext {

	font-family: "gothic";
	font-size:13px;
	margin-left:5px;
	margin-top: 30px;
}

.naturalnessaudio1 {
	margin-top:30px;
}

.naturalnessquestion {
	margin-top:15px;
	font-family: "gothic";
	font-size:13px;
}

.block {

display: block;
margin-top:5px;

}

.submitnaturalness1 {
	margin-top:3px;
	margin-left:5px;
}

/* For General Button: */

.generalbutton a{
	background:url(images/naturalness.png) no-repeat;
	width:161px;
	height:105px;
	display: block;
	position: absolute;
	margin-top:150px;
	margin-left:500px;

}

.modalDialogGeneral {
	position: fixed;
	font-family:"gothic";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	/*-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;*/
	pointer-events: none;
}

.modalDialogGeneral:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialogGeneral > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.surveynaturalness {
	margin-left:125px;
	font-family:"gothic";
	font-size: 20px;
}

.generalpart1text {

	font-family:"gothic";
	font-size: 18px;
	margin-left:160px;
	margin-top:15px;
}

.naturalnessquestiontext {

	font-family: "gothic";
	font-size:13px;
	margin-left:5px;
	margin-top: 30px;
}

.naturalnessaudio1 {
	margin-top:30px;
}

.naturalnessquestion {
	margin-top:15px;
	font-family: "gothic";
	font-size:13px;
}

.block {

display: block;
margin-top:5px;

}

.submitnaturalness1 {
	margin-top:3px;
	margin-left:5px;
}

.block2 {

display: block;
margin-top:5px;

}
